packaging
requests[security]
xmltodict
azure-cli==2.14.0
azure-cli-core==2.14.0
azure-cli-nspkg==3.0.4
azure-common==1.1.25
azure-mgmt-authorization==0.61.0
azure-mgmt-batch==9.0.0
azure-mgmt-cdn==5.1.0
azure-mgmt-compute==17.0.0
azure-mgmt-containerinstance==2.0.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==9.4.0
azure-mgmt-dns==3.0.0
azure-mgmt-keyvault==8.0.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-monitor==1.0.1
azure-mgmt-network==16.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-privatedns==0.1.0
azure-mgmt-redis==6.0.0
azure-mgmt-resource==15.0.0
azure-mgmt-rdbms==2.2.0
azure-mgmt-servicebus==1.0.0
azure-mgmt-sql==0.23.0
azure-mgmt-storage==16.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.48.0
azure-nspkg==3.0.2
azure-storage-blob==12.5.0
azure-storage-file-share==12.2.0
msrest==0.6.19
msrestazure==0.6.4
azure-keyvault==4.1.0
azure-graphrbac==0.61.1
azure-mgmt-cosmosdb==1.0.0
azure-mgmt-hdinsight==2.0.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-loganalytics==1.0.0
azure-mgmt-automation==0.1.1
azure-mgmt-iothub==0.12.0
